<?xml version="1.0" encoding="utf-8"?>
    <packages>
      <package id="git" />
      <package id="vscode" />
      <package id="gsudo" />
      <package id="gh" />
      <package id="googlechrome" />
      <package id="steam" />
      <package id="intel-dsa" />
      <package id="logitech-options" />
      <package id="keepassxc" />
      <package id="hwinfo" />
      <package id="powertoys" />
      <package id="firacodenf" />
      <!-- <package id="anotherPackage" version="1.1" />
      <package id="chocolateytestpackage" version="0.1" source="somelocation" />
      <package id="alloptions" version="0.1.1"
               source="https://somewhere/api/v2/" installArguments=""
               packageParameters="" forceX86="false" allowMultipleVersions="false"
               ignoreDependencies="false"
               /> -->
    </packages>